<footer class="post-footer clearfix">
  {{ if .Params.tags }}
      <p class="post-tags">
          <span>Tagged:</span>
          {{ $len := len .Params.tags }}
          {{ range $index, $tag := .Params.tags }}
              <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/">{{ . }}</a>
              {{- if lt $index (sub $len 1) -}}, {{ end }}
          {{ end }}
      </p>
  {{ end}}

  <div class="share">
      {{ if or (not (isset .Site.Params "sharetwitter")) .Site.Params.shareTwitter }}
          <a class="icon-twitter" target="_blank" href="https://twitter.com/share?text={{ .Title }}&url={{ .Permalink }}">
              <i class="fa fa-twitter"></i>
              <span class="hidden">Twitter</span>
          </a>
      {{ end }}

      {{ if or (not (isset .Site.Params "sharefacebook")) .Site.Params.shareFacebook }}
          <a class="icon-facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}">
              <i class="fa fa-facebook"></i>
              <span class="hidden">Facebook</span>
          </a>
      {{ end }}

      {{ if or (not (isset .Site.Params "sharelinkedin")) .Site.Params.shareLinkedIn }}
          <a class="icon-linkedin" target="_blank" href="https://www.linkedin.com/shareArticle?title={{ .Title }}&url={{ .Permalink }}">
             <i class="fa fa-linkedin"></i>
             <span class="hidden">LinkedIn</span>
          </a>
      {{ end }}

      {{ if or (not (isset .Site.Params "sharereddit")) .Site.Params.shareReddit }}
          <a class="icon-linkedin" target="_blank" href="https://reddit.com/submit?title={{ .Title }}&url={{ .Permalink }}">
             <i class="fa fa-reddit"></i>
             <span class="hidden">Reddit</span>
          </a>
      {{ end }}
  </div>
</footer>